.app {
  max-width: 390px;
  margin: auto;
}
/* //// HOME */
.desenvolvidopor{
  padding: 5%;
}

.radiohelp{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.botaodohome{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
///// MODALIDADE */

.principaldamodalidade{
  max-width: 390px;
  height: 100vh;
 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}

.lesoesealteraçoesmod{
  background-color: rgb(223, 221, 221);
  width: 360px;
  height: 25vh;
  padding: 30px;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner{
  display: flex;
}

.item{
  min-height: 150px;
  min-width: 150px;
  margin:10px;
  background-color: rgb(223, 221, 221);
  border-radius: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item img{
  width: 50px;
  height: 50px;
  border-radius: 2em;

}

.carousel{
  cursor: grab;
  overflow: hidden;
}

.carouselpai{
  max-width: 390px;
}

.partelaudadormod{
  height: 100%;
  margin-top:25px;
  background-color: rgb(223, 221, 221);
  border-radius: 1.6rem 1.6rem 0 0;
  overflow: hidden;
}

.separacaomod{
  width: 40px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.274);
  border-radius: 0.4rem;

}
.rowdolaudador{
  height: 80px;
  border: 0.1px solid rgb(228, 226, 226);
  
  
}

.liink{
  display: flex;
  justify-content: space-between;
}

a{
  color: black;
}